@font-face {
    font-family: OneShot;
    src: url(Fontes/TerminusTTF-Bold.ttf);
}

p{
    font-family: OneShot;
}

body{
    background-image: url(img/Main.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: center;
    width: 60%;
    position: absolute;
    right: 3%;
    box-sizing: border-box;
}

main{
    position: relative;
}

#logo{
    width: 45%;
    height: auto;
}
header{
    margin-bottom: 5%;
}
header p{
    font-family: OneShot;
    margin: -2%;
    font-size: 100%;
    display: block;
    width: auto;
    color: white;
    align-items: center;
}

#texto{
    color: white;
    text-align: justify;
    margin: 4%;
    font-size: 110%;
}

#wikipedia{
    text-decoration: none;
    color: #f58b51;
}

#wikipedia{
    color: #fbd147;
}

#lugares{
    
    border-radius: 1%;
    gap: 2%;
    padding: 1%;
    width: 98%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

#lugares p{
    background-color: rgba(0, 0, 0 , 0.5);
    z-index: 1;
    margin: 0%;
    display: inline;
    color: white;
    font-size: 160%;
    position: relative;
    bottom: 20%;
    width: auto;
    height: auto;
}

#terrasaridas p{
    padding: 10% 23.8%;
}

#vale p{
    padding: 10% 42%;
}

#refugio p{
    padding: 10% 36%;
}

#lugares img{
    position: relative;
    width: 100%;
    height: 100%;
}

#lugares a{
    text-align: center;
}

#textoimg{
    display: inline;
    position: relative;
    bottom: 11%;
}
#terrasaridas{
    background-color: rgba(61, 9, 58, 0.5);;
    padding: 4% 3%;
    position: relative;
    width: 90%;
    height: 104%;
}

#vale{
    background-color: rgba(61, 9, 58, 0.5);;
    padding: 4% 3%;
    position: relative;
    width: 90%;
    height: 104%;
}

#refugio{
    background-color: rgba(61, 9, 58, 0.5);;
    padding: 4% 3%;
    position: relative;
    width: 90%;
    height: 104%;
}

#terrasaridas:hover{
    transform: scale(1.1);
    transform-origin: center;
}

#vale:hover{
    transform: scale(1.1);
    transform-origin: center;
}

#refugio:hover{
    z-index: 1;
    transform: scale(1.1);
    transform-origin: center;
}